body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.cabecalho {
    background-color: rgb(0,45,114);
    color: white;
    padding: 5px;
}




.conteudo {
    padding: 20px;
}

.elementosBar{
    margin:auto;
    margin-top: 40%;
    position: relative;
    width: 300px;
    height: 42px;
    border: 2px solid #002d72;
    padding: 0px 10px;
    border-radius: 50px;
}

.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    font-size: 15px;
}
.search:focus{
    outline: none;
}

.material-symbols-outlined{
    margin: auto;
    position: relative;
    padding: 5%;
    width: 20px;
    color: #002d72;
}




.rodape {
    background-color: rgb(0,45,114); 
    color: white; 
    padding: 2px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

.cabecalho h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.logo {
    width: 180px; 
}
/* Responsividade Media Query */
@media screen and (max-width: 600px) {
    .cabecalho {
        text-align: center;
    }

    .conteudo {
        padding: 10px;
    }
}